  .header img{
    padding: 5px;
      width: 35px;
    }
    .loginBlock{
      float: right;
    }
    .loginBlock a{
      color: white;
    }
    .header{
      background-color: #557A95;
      grid-area: h;
    }